In [ ]:
Introduction to Python programming :

In [ ]:
understanding the variables in pyton :

In [3]:
x = 3 
y = 7 

z = x+y

print(z)

10

NameError: name 'x' is not defined

In [ ]:
Rule no1: No name spaces while declaring the variable name :

In [8]:
first name = 'Sriram'
print(first name)

SyntaxError: invalid syntax (3102869717.py, line 1)

In [7]:
firstname = 'Sriram'
print(firstname)

Sriram

In [ ]:
Rule No 2 : A variable name should not start with a number

In [9]:
1name = 'Bala'

SyntaxError: invalid decimal literal (840371990.py, line 1)

In [11]:
name1 = 'Bala'
print(name1)

Bala

In [12]:
name2 = 'Divya'
print(name2)

Divya

In [ ]:
Rule No 3 : A varible name should not contin any special characters
    @ $ # & *

In [13]:
name@ = 'Bala'
print(name@)

SyntaxError: invalid syntax (2430654724.py, line 1)

In [ ]:
Introduction to datatypes in python : 
    1. strings -------> str
    2. Numbers -------> integers ----> int and decimals ----> float (0.1,0.2)
    3. Lists ---------> list
    4. tuples --------> tuple
    5. Dictationeries --> dict

In [14]:
1. classification of datatypes -----> which we can edit and alter ======> flexible in nature
2. mutable datatypes ----> which we cannot be able to edit nd alter =====> fixed in Nature

SyntaxError: invalid syntax (3338354211.py, line 1)

In [ ]:
Intrioduction to string datatype:

In [ ]:
Definition : A string is a series of characters declared in quotes.
classification : It is classified as an immutable datatype
how to create a string .......? single quote or double quote

In [15]:
name = 'Bala' #single quote
print(name)

Bala

In [16]:
name1 = "Divya" #double quote
print(name1)

Divya

In [ ]:
Introduction to string methods :

In [17]:
type(name)

str

In [19]:
type(num)

NameError: name 'num' is not defined

In [20]:
type(name1)

str

In [21]:
fullname = "praveen kumar"
print(fullname)

praveen kumar

In [22]:
print(fullname.title())

Praveen Kumar

In [23]:
print(fullname.upper())

PRAVEEN KUMAR

In [24]:
print(fullname.lower())

praveen kumar

In [ ]:
commenting the code : 
    #---> is used for commenting the code